
<nav class=" navigation">
<div class="icon-bar five-up">
  <a class="item" ui-sref="cover">
    <img src="../images/svgs/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../images/svgs/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../images/svgs/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../images/svgs/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../images/svgs/fi-like.svg" >
    <label>Like</label>
  </a>
</div>
</nav>
<div ui-view></div>
